

<div class="row">

  <form [ngStyle]="{'width': '100%'}" [formGroup]="machineForm">
    <div class="form-group" >
      <label>Enter name for machine</label>
      <input [ngClass]="{'is-invalid': machineForm.controls['name'].invalid && (machineForm.controls['name'].dirty || machineForm.controls['name'].touched) && formSubmitted}" type="text" class="form-control" formControlName="name"   placeholder="Enter name for machine">
      
    </div>

    <div class="input-group">
      <input type="text" class="form-control" #commandelement   [ngModelOptions]="{standalone: true}" [(ngModel)]="command" >
      <span class="input-group-addon btn btn-primary" (click)="copy()">Copy</span>
  </div>


  </form>
 
   
  </div>

  <div mat-dialog-actions>
    <button (click)="addNew()" class="btn btn-primary">Save</button>
    <button (click)="close()" class="btn btn-secondary">Cancel</button>
  </div>