

<div class="row">

  <form [ngStyle]="{'width': '100%'}">
    <div class="form-group">
      <label for="exampleInputEmail1">Enter name for machine</label>
      <input type="text" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)]="model"  placeholder="Enter name for machine">
    </div>

    <div class="input-group">
      <input type="text" class="form-control" #commandelement   [ngModelOptions]="{standalone: true}" [(ngModel)]="command" >
      <span class="input-group-addon btn btn-primary" (click)="copy()">Copy</span>
  </div>


  </form>
 
   
  </div>

  <div mat-dialog-actions>
    <button (click)="addNew()" mat-button color="primary">Save</button>
    <button (click)="close()" mat-button  cdkFocusInitial>cancel</button>
  </div>