<ngx-spinner bdColor="rgb(214 211 211 / 11%)" color="rgba(0, 0, 0, 0.8)" name="NewEngineComponent"
[fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>

<div class="row">

  <form [ngStyle]="{'width': '100%'}" [formGroup]="machineForm">
    <div class="form-group" >
      <label>Enter name for machine</label>
      <input [ngClass]="{'is-invalid': machineForm.controls['name'].invalid && (machineForm.controls['name'].dirty || machineForm.controls['name'].touched) && formSubmitted}" type="text" class="form-control" formControlName="name"   placeholder="Enter name for machine">
      
    </div>

  </form>
 
   
  </div>

  <div mat-dialog-actions>
    <button (click)="addNew()" class="btn btn-primary">Save</button>
    <button (click)="close()" class="btn btn-secondary">Cancel</button>
  </div>