/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/primeicons/primeicons.css');
@import url('../node_modules/primeng/resources/themes/saga-blue/theme.css');
@import url('../node_modules/primeng/resources/primeng.min.css');


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #495057;
}

.btn-icon{
  margin-right: 10px;
}

.mb-0, .my-0 {
  margin-bottom: 0!important;
}

.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  
  .deamon-status{
    height: 25px;
    width: 25px;
   // background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
  .connected{
    background-color:green !important;
  }
  
  .disconnected{
    background-color: #FF4136;
  }
  
  .connecting{
   // background-color:#bbb !important;
    animation: color-change 1s infinite;
  }
  
  @keyframes color-change {
    0% {
      background-color: green;
    }
    100% {
      background-color: #FF4136;
    }
  }
  
  .wait-daemon-message{
    display: inline-block;
    padding-left: 5px;
  }
  
  .copy-script-btn{
    margin-left: 10px;
    cursor: pointer;
  }
  
 
  .notification-panel-success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  button{
    margin-left: 5px !important;
  }

  
  button:focus{
    outline:none !important;
    
  }

  .dialog-actions{
    margin-top: 30px;
  }

  .mat-list-base .mat-list-item{
    color: #a6b0cf;
  }

  .mat-drawer{
    background-color: #2a3042;
    color: #a6b0cf;
  }

  .mat-toolbar.mat-primary{
    background-color: #fff;
    color: #495057;
  }

  .container-fluid{
    margin-top: 50px;
  }

  .mat-drawer-container{
    background-color: #f8f8fb;
  }

  .mat-toolbar{
    color: #f3f3f9;
  }

  .iq-icon-box{
    height: 64px;
    width: 64px;
    line-height: 64px;
    text-align: center;
    margin-right: 10px;
    font-size: 26px;
    text-decoration: none;
    border-radius: 15px;
}

.pi-bg-success {
  background: #e1fff7 !important;
  color: #1ee2ac !important;
}

.pi-text-success{
  color:#1ee2ac !important;
}


  .pi-bg-primary {
    background: #dbd7f0 !important;
    color:#4e37b2 !important;
}

.pi-text-primary{
    color:#4e37b2 !important;
}

.pi-bg-warning {
  background: rgb(255, 228, 220)  !important;
  color:  rgb(255, 119, 80) !important;
}

.pi-text-warning{
  color: rgb(255, 119, 80) !important;
}

 .pi-bg-danger {
    background: #f5b7bd !important;
    color: #dc3545 !important;
}

.pi-text-danger{
    color:#dc3545 !important;
}

.text-black{
    color: #424242;
}

h3{
    font-size: 1.953em !important;
}

h5 {
    font-size: 1.2em !important;
}

.pi-bg-warning .mat-progress-bar-fill::after {
  background-color:  rgb(255, 119, 80) !important;
}
.pi-bg-success .mat-progress-bar-fill::after {
  background-color:  #1ee2ac !important;
}

.pi-bg-danger .mat-progress-bar-fill::after {
  background-color:  #dc3545 !important;
}

.min-h-300{
  min-height: 300px;
}

.max-h-300{
  max-height: 300px;
}

.min-h-350{
  min-height: 350px;
}

.max-h-350{
  max-height:  350px;
}

.h-400{
  height: 400px;
}

.hidden{
  display: none;
}
.image-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70;
    height: 70px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

