.card-header{
    padding: 0 20px;
    min-height: 60px;
    -ms-flex-align: center!important;
    -webkit-box-align: center!important;
    align-items: center!important;
    background-color: #fff !important;
    border-bottom: 1px solid rgb(175 172 172 / 13%);
    border-radius: 15px !important;
}

.card-title{
    padding-top: 10px;
    font-size: 15px;
    margin: 0 0 7px;
    font-weight: 600;
  }
  
  .card{
    min-height: 250px;
    margin-bottom: 24px;
    box-shadow: 0 0.75rem 1.5rem transparent;
    border-radius: 15px !important;
  }
