<div class="card {{cssClass}}">
    <div class="card-header" *ngIf="hasHeader">
      <ng-container *ngIf="hasActions">
        <ng-container [ngTemplateOutlet]="actionTemplate"></ng-container>
        
          
       </ng-container>
       
      <span class="material-icons close-btn pull-right" *ngIf="closable" (click)="close()">
        close
        </span>
        <h4 *ngIf="title" class="card-title pull-left">{{title}}</h4>
     
      
    </div>

    <div class="card-body">
        <h4  *ngIf="!hasHeader && title" class="card-title">{{title}}</h4>
      <ng-content></ng-content>
      
    </div>
  </div>