.page-title-box {
    padding-bottom: 24px;
}

.align-items-center {
    align-items: center!important;
}

.justify-content-between {
    justify-content: space-between!important;
}

.page-title-box h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px!important;
}
