<mat-sidenav-container class="sidenav-container"  *ngIf="authService.getUser() as _user">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <ng-container>
        <a *ngIf="_user.isAdmin" (click)="addNewEngine()" mat-list-item href="javascript:;"> <mat-icon class="btn-icon" aria-hidden="false">addchart</mat-icon>Register hardware</a>

      </ng-container>
      
      <app-menu-list-item  *ngFor="let item of menuService.menuItems$ | async" [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

     <span>Hardware monitoring tool</span>
     <span class="example-spacer"></span>
     <button mat-button [matMenuTriggerFor]="menu"><mat-icon>person_pin</mat-icon>{{_user.email}}</button>
     <mat-menu #menu="matMenu" class="wh-100">
       <button mat-menu-item>Change password</button>
       <button (click)="logOut()" mat-menu-item>Log out</button>

     </mat-menu>
   </mat-toolbar>

   <div class="container-fluid">
   
    <router-outlet></router-outlet>
  
   </div>

    

  </mat-sidenav-content>
</mat-sidenav-container>
