<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <a (click)="addNewEngine()" mat-list-item [routerLink]="'/'"> <mat-icon aria-hidden="false" aria-label="Example home icon">addchart</mat-icon>Add Engine</a>


      <!-- <a  mat-list-item [routerLink]="'/'"> Home </a> -->

      <a *ngFor="let item of menuService.menuItems$ | async"  routerLinkActive="active" mat-list-item [routerLink]="item.route"> {{item.title | titlecase}} </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Pi Monitoring</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
