<ngx-spinner bdColor="rgb(214 211 211 / 11%)" color="rgba(0, 0, 0, 0.8)" name="SummaryCardComponent-{{machine.id}}"
  [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>

  <app-card [hasActions]="true" [hasHeader]="true" [title]="title + loaded && data ? ' connected' : ' disconnected'" [cssClass]="'card-summary'">
    <ng-template #actionTemplate>
      <button (click)="goToDetails()" title="Go to machine details" mat-button class="pull-right card-action-button">
        <mat-icon>arrow_right_alt</mat-icon>
      </button>
    </ng-template>
    
    <ng-container *ngIf="loaded && data">
      <ul class="m-0 p-0">
        <li class="d-flex mb-4 align-items-center justify-content-between">
          <div class="col-sm-9 p-0">
            <div class="d-flex align-items-center">
              <div class="iq-icon-box pi-bg-{{memoryStatus}} summary-icon">
                <mat-icon svgIcon="ram-memory"></mat-icon>
              </div>
              <div class="media-support-info ml-3  pi-text-{{memoryStatus}}">
                <h5>Memory usage</h5>
                <p class="mb-0">
                   {{data.memory}}%
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 p-0">
              <mat-progress-bar class="pi-bg-{{memoryStatus}}" mode="determinate" value="{{data.memory}}"></mat-progress-bar>
          </div>
        </li>
          <li class="d-flex mb-4 align-items-center justify-content-between">
            <div class="col-sm-9 p-0">
              <div class="d-flex align-items-center">
                <div class="iq-icon-box pi-bg-{{cpuStatus}} summary-icon">
                <span class="material-icons">
                  memory
                </span>
                </div>
                <div class="media-support-info ml-3 pi-text-{{cpuStatus}}">
                  <h5>CPU usage</h5>
                  <p class="mb-0">
                    {{data.cpu}}%
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-3 p-0">
              <mat-progress-bar class="pi-bg-{{cpuStatus}}" mode="determinate" value="{{data.cpu}}"></mat-progress-bar>
            </div>
          </li>

            <li class="d-flex mb-4 align-items-center justify-content-between">
              <div class="col-sm-9 p-0">
                <div class="d-flex align-items-center">
                  <div class="iq-icon-box pi-bg-{{diskStatus}} summary-icon">
                  <span class="material-icons">
                    sd_storage
                  </span>
                  </div>
                  <div class="media-support-info ml-3  pi-text-{{diskStatus}}">
                    <h5>Disk usage</h5>
                    <p class="mb-0">
                      {{data.disk}}%
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 p-0">
                <mat-progress-bar class="pi-bg-{{diskStatus}}" mode="determinate" value="{{data.disk}}"></mat-progress-bar>
              </div>
            </li>
      </ul>
    
       
     

     

      </ng-container>
  </app-card>