.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.deamon-status{
  height: 25px;
  width: 25px;
 // background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.connected{
  background-color:green !important;
}

.disconnected{
  background-color: #FF4136;
}

.connecting{
 // background-color:#bbb !important;
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% {
    background-color: green;
  }
  100% {
    background-color: #FF4136;
  }
}

.wait-daemon-message{
  display: inline-block;
  padding-left: 5px;
}

.copy-script-btn{
  margin-left: 10px;
  cursor: pointer;
}