<div class="container-fluid">
  <div class="page-header">
    <h1  class="mat-h1">Dashboard {{title}}  
      <div *ngIf="!connected" class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>

      <span  *ngIf="connected || disconnected" class="deamon-status" [ngClass]="{'connected': connected,'disconnected': disconnected}"></span>

  
     
      <span class="wait-daemon-message">
        {{connected ? 'Connected' : 'Loading ....'}}
      </span>

      <span class="material-icons copy-script-btn"  title="Copy script" (click)="copyScript()">
        content_copy
        </span>

      </h1>
  </div>


  <div class="row mb-4" *ngIf="connected">
    <div class="col col-lg-3 col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Engine info </h5>
          <app-system-info [daemonId]="daemonId"></app-system-info>

        </div>
      </div>
    </div>
    <div class="col col-lg-3 col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Disk usage </h5>
          <app-storage-usage [daemonId]="daemonId"></app-storage-usage>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">  Conatiners count </h5>
          <app-containers [daemonId]="daemonId"></app-containers>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">     Conatiners usage  </h5>
          <app-containers-metrics [daemonId]="daemonId"></app-containers-metrics>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4" *ngIf="connected">
    <div class="col col-lg-6 col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">     Cpu tempurature </h5>
          <app-cpu-temperature [daemonId]="daemonId"></app-cpu-temperature>
        </div>
      </div>
    </div>
    <div class="col col-lg-6 col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">       Memory usage  </h5>
          <app-memory-usage [daemonId]="daemonId"></app-memory-usage>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-4" *ngIf="connected">
    <div class="col col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">        Containers List </h5>
          <app-containers-list [daemonId]="daemonId"></app-containers-list>
        </div>
      </div>
    </div>
  </div>
 
</div>


